@import '../../variables.css';


.Section {
  z-index: 100;
  position: relative;
  display: block;
  width: 100%;
}

.Container {
  display: block;
  max-width: var(--Size09);
  margin: 0 auto;
  padding: 0;
}

.Left {
  float: left;
}

.Right {
  float: right;
}