@import '../../../../variables.css';


.Button {
  display: inline-block;
  width: auto;
  margin: 0;
  padding: 24px 16px;
  background: none;
}

.Button .Title {
  letter-spacing: 1px;
  text-transform: uppercase;
}

.Button .Glyph.Left {
  margin-right: 16px;
}

.Button .Title,
.Button .Glyph {
  display: inline-block;
  color: var(--ColorWhiteAlpha);
}

.Button:hover .Title,
.Button:hover .Glyph {
  color: var(--ColorWhite);
}

.Button.Active:hover {
  cursor: default;
}

.Button.Active .Title,
.Button.Active .Glyph {
  color: var(--ColorBrand);
}

.Button.Active:hover .Title,
.Button.Active:hover .Glyph {
  color: var(--ColorBrand);
}