@import '../../../../components/variables.css';


.Block {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  min-width: var(--Size03);
  max-width: var(--Size03);
}

.Container {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 8px;
  padding: 0;
  border-radius: 12px;
}

.Title {
  display: block;
  width: auto;
  margin: 0;
  padding: 24px;
}

.Title {
  color: var(--ColorBrand);
}

.Divider {
  margin: 0 24px;
  background: var(--ColorBrand);
}

.List {
  display: block;
  position: relative;
  margin: 0;
  padding: 16px 0;
}

.List .Item {
  display: block;
  width: 100%;
  margin: 0;
  padding: 8px 24px;
}

.List .Item .Title,
.List .Item .Glyph {
  display: inline-block;
  width: auto;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  color: var(--ColorWhiteAlpha);
}

.List .Item .Glyph {
  margin-top: -2px;
  margin-right: 16px;
}

.List .Item:hover .Title,
.List .Item:hover .Glyph {
  color: var(--ColorBrand);
}

.Background.Color {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--Color032);
}