@import '../../variables.css';


.Section {
  z-index: 100;
  position: relative;
  overflow: visible;
  width: 100%;
  min-height: var(--Size02);
}

.Container {
  max-width: var(--Size09);
  margin: 0 auto;
  clear: both;
}

.Container .Left {
  float: left;
}

.Container .Right {
  float: right;
}

.Background.Color {
  z-index: -100;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--ColorBlack);
}
