@import '../../../../components/variables.css';


.Section {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
}

.Container {
  position: relative;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

.Background.Image {
  z-index: -90;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 100%;
  background-size: cover;
}

.Background.Color {
  z-index: -100;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--GradientDark);
}

.Background.Video {
  z-index: -80;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  filter: blur(64px);
}

