@import '../../../../components/variables.css';


.Block {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  min-width: var(--Size01);
  max-width: var(--Size01);
}

.Container {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 8px;
  padding: 0;
  border-radius: 0;
}

.Icon {
  display: block;
  width: 64px;
  height: 64px;
  margin: 0;
  padding: 24px;
  opacity: 0.5;
  color: var(--ColorBrand);
}

.Icon:hover {
  opacity: 1;
  color: var(--ColorBrand);
}
