@import '../../../../components/variables.css';


.Block {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  min-width: var(--Size03);
  max-width: var(--Size03);
}

.Container {
  position: relative;
  display: block;
  overflow: visible;
  margin: 8px;
  padding: 0;
  border-radius: 12px;
}

.Title,
.Description {
  display: block;
  width: auto;
  margin: 0;
  padding: 24px;
}

.Title {
  padding-bottom: 16px;
  color: var(--ColorBrand);
}

.Description {
  padding-top: 0;
  color: var(--ColorBlackAlpha);
}

.Divider {
  margin: 0 24px;
  background: var(--ColorBrand);
}

.List {
  display: block;
  position: relative;
  z-index: 10;
  margin: 0;
  padding: 16px;
}

.List .Item {
  display: inline-block;
  width: auto;
  margin: 0;
  padding: 8px;
}

.Item .Title {
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.Item .Title {
  color: var(--ColorBrand);
}

.Item:hover .Title {
  color: var(--ColorBlack);
}

.Background.Color {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 8px;
  background: var(--ColorWhite);
}

.Background.Shadow {
  z-index: -2;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 8px;
  box-shadow: var(--Shadow);
}

