@import '../../../../../components/variables.css';


.Block {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  min-width: var(--Size03);
  max-width: var(--Size03);
}

.Container {
  position: relative;
  display: block;
  overflow: visible;
  margin: 8px;
  padding: 0;
  border-radius: 12px;
}

.Row {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
}

.Row.Bottom {
  padding: 8px 0 24px 0;
}

.Title,
.Description {
  margin: 0;
  padding: 24px;
}

.Title {
  padding-bottom: 16px;
  color: var(--ColorBrand);
}

.Description {
  padding-top: 0;
  color: var(--ColorWhiteAlpha);
}

.Divider {
  background: var(--ColorBlack);
}

.Button {
  z-index: 10;
  position: relative;
  display: block;
  clear: both;
  width: auto;
  margin: 0;
  padding: 16px 24px;
}

.Button .Title,
.Button .Counter {
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--ColorWhiteAlpha);
}

.Button:hover .Title,
.Button:hover .Counter {
  color: var(--ColorWhite);
}

.Button .Title {
  float: left;
}

.Button .Counter {
  float: right;
}

.Background.Color {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 8px;
  background: var(--Color048);
}

.Background.Shadow {
  z-index: -2;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 8px;
  box-shadow: var(--Shadow);
}

