@import '../../../../../components/variables.css';


.Block {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  min-width: var(--Size03);
  max-width: var(--Size03);
}

.Container {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 8px;
  border-radius: 12px;
}

.Row {
  float: left;
  display: block;
  width: 100%;
  height: auto;
}

.Row .Left {
  float: left;
  padding: 0 8px;
}

.Row .Right {
  float: right;
  padding: 0 8px;
}

.Image {
  width: 100%;
}

.Title,
.Description {
  padding: 24px;
}

.Title {
  padding-bottom: 0;
  color: var(--ColorWhite);
}

.Title a {
  text-decoration: underline;
  color: var(--ColorBrand);
}

.Title a:hover {
  text-decoration: none;
}

.Description {
  color: var(--ColorWhiteAlpha);
}

.Divider {
  margin: 0;
  background: var(--ColorBlack);
}

.Button {
  display: inline-block;
  margin: 0;
  padding: 24px 16px;
}

.Button .Title,
.Button .Glyph,
.Button .Avatar {
  display: inline-block;
  margin: 0;
  padding: 0;
  color: var(--ColorWhiteAlpha);
}

.Button.Link:hover .Title,
.Button.Link:hover .Glyph,
.Button.Link:hover .Avatar {
  color: var(--ColorBrand);
}

.Button.Highlight .Title,
.Button.Highlight .Glyph,
.Button.Highlight .Avatar {
  color: var(--ColorBrand);
}

.Button .Title {
  letter-spacing: 1px;
  text-transform: uppercase;
}

.Button .Glyph {
  margin-top: 2px;
}

.Button .Glyph.Left {
  margin-right: 16px;
} 

.Button .Glyph.Right {
  margin-left: 16px;
} 

.Button .Avatar {
  width: 32px;
  height: 32px;
  margin: -8px 0 -8px -8px;
  border-radius: 16px;
}

.Button .Avatar.Left {
  margin-right: 16px;
}