@import '../../../../../components/variables.css';

/* Layout =================================================================== */

.Block {
  display: inline-block;
  vertical-align: top;
  width: var(--Size03);
  height: auto;
  margin: 0;
  padding: 0;
}

.Block .Column {
  margin: 8px;
  padding: 0;
  border-radius: 8px;
}

.Block .Image {
  clear: both;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.Block .Title {
  clear: both;
  margin: 0;
  padding: 24px 16px 8px;
}

.Block .Description {
  clear: both;
  margin: 0;
  padding: 24px 16px;
}

.Block .Meta {
  margin: 0;
  padding: 0;
}

.Block .Meta.Right {
  display: inline-block;
  float: right;
  margin-left: auto;
  width: auto;
}

.Block .Meta .Button {
  display: inline-block;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}

.Block .Meta .Button .Glyph {
  display: inline-block;
  width: auto;
  height: 14px;
  margin: 0;
  padding: 20px;
  line-height: 14px;
}

.Block .Meta .Button .Glyph.Right {
  margin-left: -8px;
  padding-left: 0;
}

.Block .Meta .Button .Title {
  display: inline-block;
  width: auto;
  height: 8px;
  margin: 0;
  padding: 24px;
  line-height: 8px;
  font-weight: 600;
}

.Block .Control {
  margin: 0;
  padding: 0;
}

.Block .Control.Left {
  display: inline-block;
  float: left;
  margin-right: auto;
  width: auto;
}

.Block .Control.Right {
  display: inline-block;
  float: right;
  margin-left: auto;
  width: auto;
}

.Block .Control .Button {
  display: inline-block;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  text-align: left;
}

.Block .Control .Button .Glyph {
  display: inline-block;
  width: auto;
  height: 14px;
  margin: 0;
  padding: 20px;
  line-height: 14px;
}

.Block .Control .Button .Title {
  display: inline-block;
  width: auto;
  height: 8px;
  margin: 0;
  padding: 24px;
  line-height: 8px;
  font-weight: 600;
}

/* Style ==================================================================== */

.Block {
  opacity: 0.4;
}

.Block:hover {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.Block .Column {
  background: var(--Color032);
}

.Block .Title {
  border-top: 1px solid var(--Color048);
  color: var(--ColorBrand);
}

.Block .Title a {
  color: var(--ColorBrand);
}

.Block .Title:hover {
  color: var(--ColorWhite);
}

.Block .Title:hover a {
  color: var(--ColorWhite);
}

.Block .Description {
  color: var(--ColorWhite);
}

.Block .Meta .Button {
  background: none;
}

.Block .Meta .Button .Glyph {
  color: var(--ColorWhite);
}

.Block .Meta .Button .Title {
  color: var(--ColorWhite);
  border: none;
}

.Block .Meta .Button:hover .Glyph {
  color: var(--ColorBrand);
}

.Block .Meta .Button:hover .Title {
  color: var(--ColorBrand);
}

.Block .Control .Button {
  background: none;
}

.Block .Control .Button .Glyph {
  color: var(--ColorWhite);
}

.Block .Control .Button .Title {
  color: var(--ColorWhite);
  border: none;
}

.Block .Control .Button:hover .Glyph {
  color: var(--ColorBrand);
}

.Block .Control .Button:hover .Title {
  color: var(--ColorBrand);
}
