@import '../../../components/variables.css';

/* Layout =================================================================== */

.Section {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 256px 0 192px;
}

/* Color ==================================================================== */

.Section {
  background: var(--GradientDark);
}
