@import '../../../../components/variables.css';


.Block {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  min-width: var(--Size03);
  max-width: var(--Size03);
}

.Container {
  position: relative;
  display: block;
  overflow: visible;
  margin: 8px;
  padding: 0;
  border-radius: 12px;
}

.Title,
.Description {
  display: block;
  width: auto;
  margin: 0;
  padding: 24px;
}

.Title {
  padding-bottom: 16px;
  color: var(--ColorBrand);
}

.Description {
  padding-top: 0;
  color: var(--ColorBlackAlpha);
}

.Divider {
  margin: 0 24px;
  background: var(--ColorBrand);
}

.List {
  display: block;
  position: relative;
  margin: 0;
  padding: 16px 0;
}

.List .Item {
  display: block;
  width: 100%;
  margin: 0;
  padding: 8px 24px;
}

.Item .Description {
  width: auto;
  margin: 0;
  padding: 0;
}

.Item .Title {
  margin: 0;
  padding: 0;
  color: var(--ColorBlack);
}

.Item .Title a {
  text-decoration: underline;
  color: var(--ColorBlack);
}

.Item .Title a:hover {
  color: var(--ColorBrand);
}

.Item .Button {
  display: block;
  margin-top: 8px;
}

.Item .Button .Glyph {
  display: inline-block;
  height: 8px;
  margin-top: -2px;
  margin-right: 16px;
  color: var(--ColorBlackAlpha);
}

.Item .Button .Title {
  display: inline-block;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--ColorBlackAlpha);
}


.Background.Color {
  z-index: -80;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 8px;
  background: var(--ColorWhite);
}

.Background.Shadow {
  z-index: -90;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 8px;
  box-shadow: var(--Shadow);
}