@import '../../variables.css';


.Section {
  z-index: 100;
  position: absolute; 
  overflow: visible;
  width: 100%;
}

.Container {
  max-width: var(--Size09);
  margin: 0 auto;
  clear: both;
}

.Container .Left {
  float: left;
}

.Container .Right {
  float: right;
}

.Background.Color,
.Background.Shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.Background.Color {
  z-index: -100;
  background: var(--ColorWhite);
}

.Background.Shadow {
  z-index: -110;
  position: absolute;
  box-shadow: var(--Shadow);
}
